.tour-header {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.377)),  url(/img/seasidetours.jpg) no-repeat center center/cover;

    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    color: white;
    position: relative;
}

@media (max-width: 400px){
    .tour-header {
        background:linear-gradient(to right, rgba(0, 0, 0, 0.205) , rgba(0, 0, 0, 0.24)), url(/img/seasidetours.jpg);
      width: 100%;
      height: 20vh;
      background-position: center;
      background-size: cover;
       background-repeat: no-repeat;
    }
}